body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color:rgb(174, 174, 219);
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: rgb(25, 25, 69);
}

#cabecalho
.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler{
    background-color:  rgb(140, 140, 211);
}

.section-text{
    font-family: Pacifico, cursive
}

.section-text span{
    color: rgb(80, 80, 117)
}

#sobre-a-loja{
    background-color: rgb(129, 129, 180);
}

.carousel .carousel-inner {
    height: 90vh;
}

.nav-produtos .nav-link.active{
    background-color: rgb(140, 140, 211);
}

#produtos{
    background-color: rgb(174, 174, 219);
}

.social-link li{
    display: inline;
    list-style: none;
}

.social-link li a{
    text-decoration: none;
}

#fale-conosco button{
    background-color: rgb(146, 239, 146);
}


@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
    .carousel .carousel-inner {
        height: 50vh;
    }
}

