body{
    background-color: rgb(220, 241, 241);
}

h1 {
    padding: 24px;
}
.conteiner{
    max-width: 1025px;
    width: 100%;
    margin: 0 auto;
}

.row{
    margin-top: 56px;
}

form button{
    margin-top: 8px;
}